<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/public/stylesheets/slide.css">
	<title>Document</title>
</head>

<body>
	<div class="columns">
		<div class="cards">
			<div class="card-head">
				<div class="card-head-text">헌혈 증서</div>
			</div>
			<div class="card-text">
				<div class="card_float">
					<p>증서 번호 : 09-09-255500</p>
					<p>이름 : ㅁㄴㅇㄹ</p>
					<p>생년월일 : 2001.01.01</p>
				</div>
				<div class="card_float">
					<p>종류 : 전혈 400ml</p>
					<p>성별 : 남</p>
					<p>현혈일자 : 2019.01.01</p>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<hr>
				<p class="font_size">
					사랑의 현혈에 동참하여 생명 나눔을 몸소 실천하신 귀하에게 깊은 존경과 감사의 마음을 담아 이 증서를 드립니다.
				</p>
			</div>
		</div>


</body>

</html>