<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ./head %>
    <title>블록체인 헌혈 :: 대문</title>
    <script src="/public/scripts/login.js" defer></script>
</head>

<body>
    <div class="doodle-container">
        <css-doodle grid="7">
            :doodle {
            size: 100vmax;
            background: #b7141a;
            overflow: hidden;
            }
            clip-path: @shape(bean);
            background: hsla(
            calc(300 + 3 * @index()), 75%, 100%, @rand(.8)
            );
            transition: .2s ease @rand(300ms);
            transform:
            scale(@rand(.2, 1.5))
            translate3d(
            @rand(-50%, 50%),
            @rand(-50%, 50%),
            0
            )
            rotate(@rand(0deg, 360deg));
        </css-doodle>
    </div>

    <div class="flexY XYfull">
        <div id="main-door">
            <div class="cover">
                <h1 id="open-phrases">당신의 <br>블록체인 <br>헌혈증 입니다</h1>
                <div class="sub-phrases">
                    당신의 블록체인 헌혈증이 당신의 나눔을 더욱 안전하게 보관합니다<br>
                    이제 분실하고 파손되는 물리적 헌혈증을 받지 마세요!
                </div>


                <button id="entrance-button" class="cursor-pointer material-design" data-color="#ff1418">
                    들어가기
                </button>
            </div>
        </div>


    </div>
    <div id="login-door" class="flexY">
        <!-- 로그인 폼 -->
        <form id="login-form" class="" action="/login" method="POST">
            <h1 class="login-phrases">로그인<h1>

                <div class="md-form-control">
                    <input id="LoginId" name="LoginId" type="text" class="md-input-text" />
                    <label for="LoginId">ID</label>
                    <span class="md-input-text-bar"></span>
                </div>

                <div class="md-form-control">
                    <input id="LoginPasswd" name="LoginPasswd" type="password" class="md-input-text" />
                    <label for="LoginPasswd">Password</label>
                    <span class="md-input-text-bar"></span>
                </div>

                <button type="submit" class="button-submit cursor-pointer btn material-design" data-color="#ffffff">로그인</button>
        </form>

        <!-- 회원가입 폼 -->
        <form id="join-form" class="display-none" action="/register" method="POST">
            <!-- 아이디 -->
            <input type="text" name="RegisterId">
            <!-- 비밀번호 -->
            <input type="password" name="RegisterPasswd">
            <!-- 비밀번호 확인 -->
            <input type="password">
            <!-- 이름 -->
            <input type="text" name="username">
            <!-- 주민등록번호 앞자리6개 뒷자리1개 -->
            <input type="number" name="resident">
            <input type="submit">
        </form>
    </div>
    </div>




</body>

</html>
